.overlay-item{
  /* background-position: center;
  background-repeat: no-repeat; */
  /* background-size: cover; */
  /* height: 100%; */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.bg-image{
  position: absolute;
  bottom: 0;
  left:0;
}

.carousel-item{
  height: 75vh;
  background-color: #000;
  color: white;
}